form {
    width: 100%;
}

input{
    /* width: 300px; */
}
#content{
    position: relative;
}

#posts_content{
    position: absolute;
    width: 100%;
    left: 25%;
}


img{
    border: 1px solid black;
}