body {
    margin: 0;
    /* background-image: url("http://hq-oboi.ru/photo/krasivaya_dolina_1920x1200.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    margin-top: 20px;
    height: 80%;
    text-align: center;
}

#footer {
    height: 10%;  
} 
