<!-- <form action="register.php" method="POST">
        <p>
            Логин <input type="text" name="login">
        </p>
        <p>
            Пароль <input type="password" name="password">
        </p>
        <p>
            Никнейм <input type="text" name="username">
        </p>
        <p id="check">
            <input type="checkbox" name="agreement" value="0"> Я принимаю условия по обработке личных данных
        </p>
        <input type="submit" value="Создать учетную запись">
</form> -->

<form action="register.php" method="POST">
    <div class="form-group">
      <label for="login">Логин:</label>
      <input type="login" class="form-control" id="login" name="login">
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="nickname">Никнейм:</label>
        <input type="text" class="form-control" id="nickname" name="username">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="agreement" value="0"> Я принимаю условия по обработке личных данных</label>
    </div>
    <button type="submit" class="btn btn-default">Создать учетную запись</button>
  </form>